*{
    margin: 0;
    padding: 0;
}

body{
    background-color: steelblue;
    color: #EEE;
    font-family: sans-serif;
    text-align: center;
}

p{ font-size: 2rem;}

h2{ font-size: 1.2rem;}


#Menu{
    background-color: white;
    margin: auto;
}

section article{
    background-color: rgba(33,62,74,1);
    margin-top: 20px;
    padding: 12px;
}

section article p{
    font-size: 0.8rem;
    text-align: justify;
}
p.favorito{
    color: gainsboro;
    background-color: blue;
    text-align: justify;
}
